# Python Build
__pycache__
*.egg-info
*.pyc
.eggs
build
venv
.tox

# Unit Tests
test-secrets.json

# Visual Studio Code
.vscode

# PyCharm
.idea

poetry.lock
package-lock.json
node_modules

site-checker-secrets.yaml
*secrets.yaml

# related to mozlenium testing
check.js
